<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081884625950-4ar0q3hg8269rspa3if9qephqi0ta28v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081884625950-4ar0q3hg8269rspa3if9qephqi0ta28v</string>
	<key>API_KEY</key>
	<string>AIzaSyDY-qMTJiKj3vP1Rmgw7EqqEDiZVtqOLoY</string>
	<key>GCM_SENDER_ID</key>
	<string>1081884625950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senatoprakci.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-dfd69</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-dfd69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081884625950:ios:fe5cd8eaff3d17a07df20f</string>
</dict>
</plist>